/* ================================
   ESTILOS GLOBALES
   ================================ */


/* ================================
   HEADER / NAVEGACIÓN
   ================================ */


/* ================================
   PANTALLA: BIENVENIDA (index.html)
   ================================ */


/* ================================
   PANTALLA: PRODUCTOS (productos.html)
   ================================ */


/* ================================
   PANTALLA: CARRITO (carrito.html)
   ================================ */


/* ================================
   PANTALLA: TICKET (ticket.html)
   ================================ */
